.ninja-tables_rendering_accordion {
  border-left: 1px solid #E1E4EA;
  border-right: 1px solid #E1E4EA;
  border-radius: 12px;

  .el-collapse-item {
    .el-collapse-item__header {
      border-radius: 12px 12px 0 0;
      padding: 0 16px;
    }

    .el-collapse-item__wrap {
      padding: 0 16px;
      background: #F9FAFB;
    }

    &:last-child {
      margin-bottom: 0;

      .el-collapse-item__header {
        border-radius: 12px;
        padding: 0 16px;
      }

      .el-collapse-item__wrap {
        border-radius: 0 0 12px 12px;
      }
    }

  }

  .is-active {
    .el-collapse-item__header {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-bottom: 1px solid #E1E4EA;
      padding: 0 16px;
    }
  }
}

.ninja-tables_edit_accordion {
  border-left: 1px solid #E1E4EA;
  border-right: 1px solid #E1E4EA;
  border-radius: 12px;

  .el-collapse-item {

    .el-collapse-item__header {
      //border-radius: 12px 12px 0 0;
      padding: 0 16px;
    }

    .el-collapse-item__wrap {
      padding: 0 16px;
    }


  }

  .is-active {
    .el-collapse-item__header {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-bottom: 1px solid #E1E4EA;
      padding: 0 16px;
      background: #F5F7FA;
    }
  }
}

.nt_accordion_content_white {
  .el-collapse-item {
    .el-collapse-item__header {
      //background: #F9FAFB;
    }

    .el-collapse-item__wrap {
      padding: 0 16px;
      background: white;
    }
  }
}

.nt-design-collapse{
    .el-collapse-item {
      border-radius: 12px;
      .el-collapse-item__header{
        padding: 0 20px;
      }
      .el-collapse-item__content{
        padding: 0 20px;
      }
    }
    .el-collapse-item.is-active{
      .el-collapse-item__header{
        background: #F5F7FA;
        border-bottom: 1px solid #E1E4EA;
      }
    }
}
