@charset "UTF-8";

@font-face {
  font-family: "ninja-tables-icons";
  src: local('ninja-tables-icons'),
      url("../../fonts/ninja-tables.woff2") format("woff2"),
      url("../../fonts/ninja-tables.woff") format("woff"),
      url("../../fonts/ninja-tables.ttf") format("truetype"),
      url("../../fonts/ninja-tables.eot"),
      url("../../fonts/ninja-tables.eot?#iefix") format("embedded-opentype"),
      url("../../fonts/ninja-tables.svg#ninja-tables") format("svg");
  font-weight: normal;
  font-style: normal;
}

.footable_parent {
  .fooicon {
    display: inline-block;
    font-size: inherit;
    font-family: "ninja-tables-icons" !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }

  .fooicon:before {
    font-family: "ninja-tables-icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [class^="fooicon-"]:before,
  [class*=" fooicon-"]:before,
  [class*=" footable-"]:before,
  [class^="footable-"]:before
  {
    font-family: "ninja-tables-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .fooicon-search:before {
    content: "\f002";
  }
  .fooicon-sort-desc:before {
    content: "\f161";
  }
  .fooicon-sort-asc:before {
    content: "\f160";
  }
  .fooicon-sort:before {
    content: "\f0dc";
  }
  .fooicon-minus:before {
    content: "\f068";
  }
  .fooicon-plus:before {
    content: "\f067";
  }
  .fooicon-circle-o-notch:before {
    content: "\e000";
  }
  .fooicon-remove:before {
    content: "\f00d";
  }
  .fooicon-loader-alt:before {
    content: "\f01";
  }
  .fooicon-refresh:before {
    content: "\e001";
  }
  .fooicon-loader:before {
    content: "\f01e";
  }
  .fooicon-grid:before {
    content: "\61";
  }
  .fooicon-pencil:before {
    content: "\62";
  }
  .fooicon-delete:before {
    content: "\63";
  }
  .fooicon-view:before {
    content: "\64";
  }
  .fooicon-edit:before {
    content: "\65";
  }
  .fooicon-bag:before {
    content: "\66";
  }
  .fooicon-basket:before {
    content: "\67";
  }
  .fooicon-star:before {
    content: "\68";
  }
  .fooicon-star-o:before {
    content: "\69";
  }
  .fooicon-check:before {
    content: "\6a";
  }
  .fooicon-heart:before {
    content: "\6b";
  }
  .fooicon-download:before {
    content: "\6c";
  }
  
  //Extra Duplicate Icons
  .fooicon-trash:before {
    content: "\63";
  }
  .fooicon-remove-1:before {
    content: "\f00d";
  }
}
