.footable_parent {
  .fooicon {
    &::before {
      content: '';
      display: inline-block;
      width: 12px; // Adjust the width and height as needed
      height: 12px;
      background-repeat: no-repeat;
    }
  }
  .fooicon-search {
    &::before {
      width: 16px;
      height: 16px;
      background-image: url('../../libs/icons/search-outline.svg');
    }
  }
  .fooicon-sort-desc {
    &::before {
      background-image: url('../../libs/icons/caret-down-outline.svg');
    }
  }
  .fooicon-sort-asc {
    &::before {
      background-image: url('../../libs/icons/caret-up-outline.svg');
    }
  }
  .fooicon-sort {
    &::before {
      background-image: url('../../libs/icons/caret-up-down-outline.svg');
    }
  }
  .fooicon-remove {
    &::before {
      background-image: url('../../libs/icons/close-outline.svg');
    }
  }
  .fooicon-minus {
    &::before {
      background-image: url('../../libs/icons/remove-outline.svg');
    }
  }
  .fooicon-plus {
    &::before {
      background-image: url('../../libs/icons/add-outline.svg');
    }
  }
  .fooicon-loader {
    &::before {
      width: 24px;
      height: 24px;
      background-image: url('../../libs/icons/refresh-outline.svg');
    }
  }
  .fooicon-delete {
    &::before {
      background-image: url('../../libs/icons/trash-sharp.svg');
    }
  }
  .fooicon-pencil {
    &::before {
      background-image: url('../../libs/icons/pencil-sharp-white.svg');
    }
  }
  .footable-edit {
    &:hover {
      .fooicon-pencil {
        &::before {
          background-image: url('../../libs/icons/pencil-sharp.svg');
        }
      }
    }
  }
  .fooicon-trash {
    &::before {
      background-image: url('../../libs/icons/trash-sharp-white.svg');
    }
  }
  .footable-delete {
    &:hover {
      .fooicon-trash {
        &::before {
          background-image: url('../../libs/icons/trash-sharp.svg');
        }
      }
    }
  }
  .fooicon-remove-1 {
    &::before {
      background-image: url('../../libs/icons/close-outline.svg');
    }
  }
  .fooicon-bag {
    &::before {
      width: 16px;
      height: 16px;
      background-image: url('../../libs/icons/bag-handle.svg');
    }
  }
  .fooicon-basket {
    &::before {
      width: 16px;
      height: 16px;
      background-image: url('../../libs/icons/cart-outline.svg');
    }
  }
}
